<app-video-home-page>
  <div class="d-flex justify-content-center align-items-center mainjl2" id="">
    <div class="d-block text-center text-light">
      <div>
        <h1 [@fadeInDown] class="">{{ personalOwn.nameOwn }}</h1>
        <p [@fadeInLeft] class="">{{ personalOwn.profession }}</p>
        <p [@fadeInRight] class="pb-5">{{ personalOwn.label }}</p>
      </div>
      <hr class="" />
      <div [@listStagger]>
        <div *ngFor="let route of appRoutes">
          <p>
            <small
              ><a
                routerLink="{{ route.path }}"
                class="link-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                >{{ route.title }}</a
              ></small
            >
          </p>
          <hr class="" />
        </div>
      </div>
    </div>
  </div>
</app-video-home-page>
