* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color_primary: rgb(39, 51, 165);
    --color_second: #6071be;
    --color_third: rgb(180, 190, 237);
    --color_hover_primary: rgb(102, 102, 107);
    --color_textos: #01012dd5;
    --color_fondo: rgba(96, 113, 190, 0.102);
    --letra_londrina: "Londrina Shadow", cursive;
    --bg_portfolio : #ced4da;
}




  .container-fluid.mainjl {
    height: auto !important;   /* ya no forzamos vh */
    min-height: 100dvh;   
      background-color: #000000;      /* opcional: asegura que al menos cubra viewport visible */
  }
  
