* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color_primary: rgb(39, 51, 165);
    --color_second: #6071be;
    --color_third: rgb(180, 190, 237);
    --color_hover_primary: rgb(102, 102, 107);
    --color_textos: #01012dd5;
    --color_fondo: rgba(96, 113, 190, 0.102);
    --letra_londrina: "Londrina Shadow", cursive;
}



body {
    /* background-color: #fff;*/
   color: var(--color_primary); 
   
}




.mainjl {
    height: 84vh;
}

@media (max-width: 995px) {
    .mainjl {
        height: 79vh;
    }
}

@media (max-width: 766px) {
    .mainjl {
        height: 75vh;
    }
}

@media (max-width: 575px) {
    .mainjl {
        height: 70vh;
    }
}

@media (max-width: 420px) {
    .mainjl {
        height: 40vh;
    }
}