<footer class="bg-black row">
 <app-head></app-head>

  <div [@listStagger] class="mainjl mx-5 d-block  text-center" >
   

    <div
      *ngFor="let project of contacts; let i = index"
      class=""
    >
      <hr class="text-white" />
      <div class="">
        <a
          class="link-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
          [href]="project[1]"
          target="_blank"
        >
          {{ project[0] }}
        </a>
      </div>
      <div class="text-light">****</div>
      <div class="">
        <small
          ><small>
            <p class="text-light p-0 m-0">{{ project[2] }}</p>
          </small></small
        >
      </div>
    </div>
  </div>
</footer>
